<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/assets/css/style.css">
	<title>Journal</title>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>



	<header style="background-color:white; height:100px">
	</header>

	<div class="block1 grid1">
		<div class="section-1">
			<h2>Добро пожаловать!</h2>
			<h4>​Наша школа расположена на территории почти 3 тысяч квадратных метров. В учебном заведении три блока – начальная школа, средняя и старшая. Наши ученики смогут познакомиться с основами робототехники и 3D моделирования, также мы располагаем двумя бассейнами и пятью спортзалами. </h4>
			<h4>24 августа в 13:00 ждем ваc на День открытых дверей!</h4>
		</div>

		<div class="section-2"> </div>
		<div class="section-3"> </div>
		<div class="section-4"> <img src="~/assets/images/shkola.jpg" ;> </div>
	</div>

	<div class="block1 grid2">
		<div class="section-5">
			<h3>«Специальный контейнер для сбора батареек наконец появился на площадке школы №7!» - сообщила директриса школы.</h3>
			<h4>Контейнер, расположенный в удобном для учеников месте, полностью соответствует требованиям безопасности. Он установлен на улице - во внутреннем дворе школы, его содержимое защищено от осадков. По мере заполнения контейнера его содержимое направится не на мусорный полигон, а прямо на завод по утилизации батареек.</h4>
		</div>
		<div class="section-6">
			<h3>10 сентября пройдет художественная выставка по декоративно-прикладному творчеству, приуроченная к всероссийской акции «Культурная суббота». </h3>
			<h4>Каждый желающий принять участие должен вписать свою фамилию и имя в бланк участников, который находится в главной рекреации у стенда №1.</h4>
		</div>
		<div class="section-7"> <img src="~/assets/images/basic.jpg" ;> </div>
		<div class="section-8">
			<h5>Наша школа располагает двумя бассейнами – один для начальных классов, второй – для старшеклассников. Для детей, которые не умеют плавать, есть специальная подготовительная группа с тренером, который подходит к каждому ученику с особым вниманием. Также можно записаться на индивидуальные тренировки, например, для подготовки к соревнованиям.</h5>
		</div>
		<div class="section-9"> <img src="~/assets/images/beg.png" ;></div>
		<div class="section-10"> </div>
		<div class="section-11"> </div>
		<div class="section-12">
			<h5>В спортивном блоке разместилось пять залов, два их них оборудованы специально для занятия детей с ограниченными физическими возможностями. Залы оборудованы современным инвентарем, таких фирм как «Hoist» и «Precor».</h5>
		</div>
		<div class="section-13"> <img src="~/assets/images/zal.png" ;></div>
		<div class="section-14"> </div>
		<div class="section-15">
			<h4>По новым технологическим требованиям, наши актовые залы являются  залом-трансформером, решающим широкий круг задач: то есть здесь проводятся не только культурно-массовые мероприятия - концерты, дискотеки и торжественные мероприятия, но и сводные уроки, экзамены, конференции, семинары.</h4>
			<h4>По сути, современный школьный актовый зал по своему набору технических систем не уступает профессиональным концертным площадкам. В состав комплекта входят системы звукоусиления (для мероприятий, где важна высокая разборчивость речи в любой точке зала, и для концертных программ), постановочного и видео-проекции.</h4>
		</div>
		<div class="section-16">
			<h4>Таким образом, многофункциональность образовательного пространства позволяет не переделывать помещения и кабинеты под новые требования и желания, поскольку в них уже заложена определённая гибкость. Такое пространство будет актуальным и современным без серьёзных изменений и дорогостоящего ремонта в течение долгого времени.</h4>
		</div>
		<div class="section-17"> </div>
	</div>


	<footer style="background-color:#47443c; height:300px">
	</footer>

</body>
</html>
