@model Class

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<div>
    <h4>Класс</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-warning" , onclick="return confirm ('Удалить запись?')" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
