@model Journal
@inject AccountRepository accountRepository
@inject UserRepository userRepository
@inject RolesRepository rolesRepository

@{
    ViewData["Title"] = "Создание";
    string login = User.Identity.Name;
    var account = await accountRepository.GetAccountByLoginAsync(login);
    var user = await userRepository.GetUserByAccountAsync(account);
    var userRole = await rolesRepository.GetUserRoleAsync(user);
}

<h1>Создание</h1>

<h4>Журнал</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" placeholder="Введите дату" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" placeholder="Поставьте оценку" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkType" class="control-label"></label>
                <input asp-for="WorkType" placeholder="Введите тип работы" class="form-control" />
                <span asp-validation-for="WorkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presence" class="control-label"></label>
                <input asp-for="Presence" placeholder="Введите присутствие" class="form-control" />
                <span asp-validation-for="Presence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lesson.LessonNumber" class="control-label"></label>
                <select asp-for="LessonID" placeholder="Выберите урок" class="form-control" asp-items="ViewBag.Lesson"></select>
            </div>
            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <select asp-for="SubjectId" placeholder="Выберите предмет" class="form-control" asp-items="ViewBag.Subjects"></select>
            </div>
            <div class="form-group">
                <label asp-for="User.FIO" class="control-label"></label>
                <select asp-for="UserID" placeholder="Выберите ученика" class="form-control" asp-items="ViewBag.Students"></select>
            </div>
            @if (userRole.Name == "admin")
            {
                <div class="form-group">
                    <label asp-for="Users.FIO" class="control-label"></label>
                    <select asp-for="UserId" placeholder="Укажите классного руководителя" class="list" asp-items="ViewBag.Teachers"></select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>
