@using SiteMVC.Models;
@using SiteMVC.Repositories;
@model Lesson
@inject UserRepository userRepository

@{
    ViewData["Title"] = "Создание";
    IEnumerable<Users> _teachers;
    _teachers = await userRepository.GetTeachers();
    ViewData["Teachers"] = new SelectList(_teachers, "Id", "FIO");
}

<h1>Создание</h1>

<h4>Урок</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" asp-for="WeekDay" placeholder="Введите день недели" class="form-control" />
            </div>
            <div class="form-group">
                <input type="number" asp-for="LessonNumber" placeholder="Введите номер урока" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Class.Name" class="control-label"></label>
                <select asp-for="ClassID" class="form-control" placeholder="Выберите класс" asp-items="ViewBag.Class"></select>
            </div>
            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" placeholder="Выберите предмет" asp-items="ViewBag.Subject"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cabinet.Number" class="control-label"></label>
                <select asp-for="CabinetId" class="form-control" placeholder="Выберите кабинет" asp-items="ViewBag.Cabinet"></select>
            </div>
            <div class="form-group">
                <label asp-for="Users.FIO" class="control-label"></label>
                <select asp-for="UserID" class="form-control" placeholder="Выберите учителя" asp-items="ViewBag.Teachers"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" , class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>
